head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title ODE Tutorial
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='//code.jquery.com/jquery-1.10.2.min.js', defer='defer')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js', defer='defer')
    script(src='js/vendor/jquery.splitter-0.14.0.js', defer='defer')
    script(src='https://www.desmos.com/api/v0.4/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6', defer='defer')
    script(src='js/vendor/snap.svg-min.js', defer='defer')
    script(src='js/tutorial.js', defer='defer')
    script(src='js/slides.js', defer='defer')
    link(href='css/vendor/jquery.splitter.css', rel='stylesheet')
    script(src='js/vendor/jquery.fullPage.js', defer='defer')
    script(src='js/vendor/jquery.easings.min.js', defer='defer')
    script(src='js/vendor/jquery.slimscroll.min.js', defer='defer')
    script(src='js/vendor/react-with-addons.js', defer='defer')
    script(src='js/vendor/JSXTransformer.js', defer='defer')
    script(src='js/vendor/bootstrap.js', defer='defer')
    link(href='css/vendor/jquery.fullPage.css', rel='stylesheet')
    link(href='css/vendor/bootstrap.css', rel='stylesheet')


body
    #tutorial
        #left_pane
            #fullpage
                #main_section.section
                    #slide3.slide
                        h1 Loading...
                    #slide3.slide
                        h1 Failed to load slideshow
                    #slide3.slide
                        h1 Try again!
        #right_pane
            #calc_container
                #calculator(style='width: 100%; height: 100%;')
            div
                svg#svg(width='100%', height='100%')