body{
  font-family: "Helvetica";
  text-align: left;
  padding: 10px 10px 0;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}

h1{
  font-size: 40px;
  color: #386F7F;
  text-align: left;
  vertical-align: top;
//  line-height: 1.2em;
//  border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

h3{
  font-weight: 300;
  font-size: 24px;
  color: #386F7F;
  text-align: left;
  vertical-align: top;
}